*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    width: 500px;
    height: 250px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 2em;
    border-radius: 10px;
    background-color: yellow;        }

#password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #fff;
    color: #333;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#symbols {
    display: flex;
    margin-bottom: 20px;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
    font-size: 16px;
}
input[type="button"] {
    margin-left: 5px;
    height: 39px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
input[type="button"]:hover {
    background-color: #1f1f1f;
    color: #fff;
}
input[type="number"] {
    height: 40px;
    width: 60px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    text-align: center;
    color: #1f1f1f;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
